.container,
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: gray;
}

.content {
    background-color: skyblue;
}

.flex-item {
    flex-basis: 200px;
    padding: 20px;
    margin: 20px;
    background-color: darkgrey;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}

#ok {
    color: red;
    border: 2px solid red;
}

#cancel {
    color: white;
    background-color: black;
}

.toggleON {
    background-color: white;
}

.toggleOff {
    background-color: darkgrey;
}